.product-details-container {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .product-details-title {
    border-left: 4px solid;
    font-weight: bold;
    font-size: 1.5rem;
    border-color: rgba(132, 52, 225, 1);
    padding-left: 0.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: -1.5rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 8%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
 .product-detail-image{
    width: 100%; }
  
  .product-details {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  .product-title {
    color: #000;
    font-weight: bold;
    font-size: 1.875rem;
    width: 100%;
  }

  
  .product-rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .rating-text {
    color: #000;
    font-weight: 600;
  }
  
  .product-category {
    display: flex;
    gap: 1.25rem;
  }
  
  .category-text {
    color: #000;
    font-weight: 600;
  }
  
  .product-actions {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  .action-buttons {
    display: flex;
    gap: 1.25rem;
  }
  
  .add-to-cart-button {
    border-width: 2px;
    border-color: #ccc;
    background-color: rgba(132, 52, 225, 1);
    color: #fff;
    transition-duration: 0.3s;
    padding: 0.9rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: medium;

  }
  
  .add-to-cart-button:hover {
    border-color: #ccc;
  }
  
  
  .price-button {
    border-width: 2px;
    border-color: #ccc;
    padding: 0.9rem;
    border-radius: 0.375rem;
    font-size: medium;
  }
  
  .description-section {
    padding: 5%;
    display: none;
  }
  
  .description-title {
    border-left: 4px solid;
    font-weight: bold;
    font-size: 1.5rem;
    border-color: rgba(132, 52, 225, 1);
    padding-left: 0.5rem;
  }
  
  .description-content {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  

  @media (min-width: 768px) {
   
    .product-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .product-title{
        width: 50%;
    }
    .description-section {
        display: block;
    }
  }