<app-navbar></app-navbar>

<section class="product-details-container">
    <div
      class="product-details-title"
    >
      Product Details
    </div>
    <div class="product-grid">
      <div></div>
      @if (selectedProduct) {
      <img class="product-detail-image" [src]="selectedProduct.image" [alt]="selectedProduct.title" />
  
      <div class="product-details">
        <h1 class="product-title">
          {{ selectedProduct.title }}
        </h1>
        <!-- stars -->
        <div class="product-rating">
          <i class="fa-solid fa-star text-yellow-500"></i>
          <span class="rating-text">Rating:</span>
          {{ selectedProduct.rating.rate }}
        </div>
  
        <div class="product-category">
            <span class="category-text">Category:</span>
            {{ selectedProduct.category }}
          </div>
  
          <div class="product-actions">
            <div class="action-buttons">
              <button class="add-to-cart-button">
                <i class="fa-solid fa-cart-shopping"></i>Add to cart
              </button>
              <button class="price-button">
                ${{ selectedProduct.price }}
              </button>
            </div>
          </div>
      </div>
  
      <section class="description-section">
        <div class="description-title">
          Description
        </div>

        <div class="description-content">
          {{ selectedProduct.description }}
        </div>
      </section>
      }
    </div>
  </section>