<header>
  <nav class="navbar">
    <div (click)="routeToHome()" class="logo-container cursor-pointer">
      <img src="../../../../../assets/Logo.png" alt="logo" />
    </div>

    <!-- icons -->
    <div class="icon-container">
      @if (isAuthenticated){
      <h1 (mouseover)="showAuth()" (mouseleave)="hideAuth()">
        Welcome Bliss Armah
      </h1>
      } @if(!isAuthenticated){

      <!-- user icon -->
      <button
        (mouseover)="showAuth()"
        (mouseleave)="hideAuth()"
        class="auth-button"
      >
        <ion-icon
          [ngClass]="{
            'icon-gray': !isAuthVisible,
            'icon-white': isAuthVisible
          }"
          name="person-outline"
          class="icon"
        ></ion-icon>
      </button>
      }

      <!-- dropdown -->
      @if (!isAuthenticated){
      <div
        (mouseover)="showAuth()"
        (mouseleave)="hideAuth()"
        class="auth-dropdown"
      >
        <div
          class="auth-options"
          [ngClass]="{ 'auth-option-hide': !isAuthVisible }"
        >
          <a class="auth-link" routerLink="/sign-up">Sign Up</a>
          <a class="auth-link" routerLink="/login">Login</a>
        </div>
      </div>
      }
      
      @if (isAuthenticated){
      <div
        (mouseover)="showAuth()"
        (mouseleave)="hideAuth()"
        class="auth-dropdown-for-user"
      >
        <div
          class="auth-options"
          [ngClass]="{ 'auth-option-hide': !isAuthVisible }"
        >
          <a class="auth-link" routerLink="/login">Logout</a>
        </div>
      </div>
      }

      <!-- cart icon -->
      <button
        (mouseover)="hovered()"
        (mouseleave)="notHovered()"
        (click)="routeToCart()"
        class="cart-button"
        [ngClass]="{ 'cart-button-color': selectedProductCount > 0 }"
      >
        <ion-icon
          [ngClass]="{ 'cart-button-icon ': selectedProductCount > 0 }"
          name="cart-outline"
          class="icon-gray icon"
        ></ion-icon>
        @if (getProductCount() >= 1) {
        <span
          class="cart-count bg-red-500 w-5 h-5 rounded-full text-white text-[13px] flex justify-center items-center"
        >
          {{ getProductCount() }}
        </span>
        }
      </button>
    </div>
  </nav>
</header>
