<section class="grid-container large-grid-container">
  <div class="large-image-container image-container">
    <img
      class="login-img"
      src="../../../../assets/signUp/login.png"
      alt="sign up image"
    />
  </div>

  <div class="form-container">
    <h1 class="header">Sign In Page</h1>
    <form
      class="form"
      action=""
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- username Address -->
      <label for="username"> Username</label>
      <div class="input-wrapper">
        <input
          name="username"
          class="input"
          type="username"
          formControlName="username"
          required
        />
      </div>
      @if (signupForm.get('username')?.errors &&
      (signupForm.get('username')?.dirty ||
      signupForm.get('username')?.touched)) { @if
      (signupForm.get('username')?.errors?.['required']){
      <div class="error">username is required</div>
      } }

      <!-- password -->
      <div>
        <label for="password">Password</label>
        <div class="input-wrapper">
          <div class="border-2 rounded-md p-2">
            <input
              name="password"
              class="input"
              type="password"
              formControlName="password"
              required
            />
          </div>
        </div>

        @if (signupForm.get('password')?.errors &&
        (signupForm.get('password')?.dirty ||
        signupForm.get('password')?.touched)) {
        <div>
          @if (signupForm.get('password')?.errors?.['required']) {
          <div class="error">Password is required</div>
          } @if (signupForm.get('password')?.errors?.['minlength']) {
          <div class="error">Password must be at least 8 characters</div>
          }
        </div>
        }
      </div>

      <button
        type="submit"
        class="submit-btn"
        [ngClass]="{ disabled: signupForm.invalid }"
        [disabled]="signupForm.invalid"
      >
        Log in
      </button>
    </form>
  </div>
</section>
