/* Simple and meaningful class names */
.main-section {
  position: relative;
  top: 80px;
}

.image-section {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.text-overlay {
  position: absolute;
  top: 4%;
  left: 20%;
}

.text-content {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  color: white;
}

.category {
  font-size: 1.5rem;
}

.title {
  font-weight: bold;
}

.description {
  font-size: 1.5rem;
}



/* Simple and meaningful class names */
.products-section {
  padding-left: 5%;
  padding-right: 5%;
}
.title-all-container{
display: flex;
align-items: center;
justify-content: space-between;
}

.title-container {
  border-left: 4px solid rgba(132, 52, 225, 1);
  font-weight: bold;
  padding-left: 8px;

  font-size: 1.5rem;
}

.search-bar {
  display: none; 
  border-radius: 6px;
  background: #F6F6F6;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  padding-top: 0.25rem/* 4px */;
  padding-bottom: 0.25rem/* 4px */; 
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  
}

.icon-search{
  color: #969696 ;
  font-size: 0.8rem;
}

.search-input {
  background-color: #F6F6F6;
  border: none;
  outline: none;
  width: 100%;
}

.content {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* product card styles */
.loading-message {
  color: rgba(132, 52, 225, 1); /* Voilent color */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}



.no-products {
  color: #000;
}

.pagination-buttons {
  display: flex;
  gap: 10px;
}

.pagination-button {
  cursor: pointer;
}


@media (min-width: 1024px) {
  .search-bar {
      display: flex;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4.5rem /* 72px */;
    line-height: 1;
  }
  .cta-button {
    display: block;
  }
  .text-content {
    width: 66.666667%;
    inset-inline-start: 0px;
  }
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4.5rem /* 72px */;
    line-height: 1;
  }
  .cta-button {
    display: block;
  }
  .text-content {
    width: 66.666667%;
    inset-inline-start: 0px;
  }
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 468px) {
  .product-grid {
    display: flex;
    flex-direction: column;
  }
  .text-overlay{
    display: none;
  }
}
