

.image-container{
    display: hidden;
}

.login-img{
    width: 100%;
}

/* Simple and meaningful class names */
.grid-container {
    display: grid;
    gap: 40px;
  }
  
  .hidden-container {
    display: none;
  }
  
  .form-container {
    width: 100%;
    height: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .header {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .input-wrapper {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
  }
  
  .input {
    border: none;
    outline: none;
    width: 100%;
  }
  
  .error {
    color: #ff0000;
  }
  
  .submit-btn {
    padding: 10px 25px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .link {
    text-decoration: underline;
    cursor: pointer;
  }
  
@media (min-width: 1024px) {
    .large-grid-container  {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .large-image-container{
        display: block;
    }
}