<app-navbar></app-navbar>

<section class="main-section">
  <div class="title-container">Check Out</div>
  <div class="checkout-details-container">
    <div>
      <h3>Payment Method</h3>
      <p>All transactions are secure and encrypted.</p>
      <div class="payment-method-container">
        <h4>Momo Pay</h4>
      </div>

      <button mat-raised-button color="primary">Pay Now</button>
    </div>
    <div class="order-summary-container">
      <h3 >Order Summary</h3>
      <div class="order-summary-line"></div>
    </div>
  </div>
</section>
